body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3vh;
}

#canvas {
    background: whitesmoke;
    width: 100%;
    height: 90vh;
    border: 1px solid gainsboro;
}